 .container{
   margin-top: 16px;
 } 
  .full-width {
    width: 100%;
  }

  .comment-card{
    margin-bottom: 1vh;
  }

  .profile-avatar{
    background-image: url('./assets/default-profile.jpg');
    background-size: cover;
  }
  mat-card-subtitle p {
    color: black;
  }
