<!-- <div *ngIf="boardgame">
    <mat-grid-list cols="2" rows="1" rowHeight="80vh">
      <mat-grid-tile>
          <mat-card class="card">
              <mat-card-header>
                <img mat-card-avatar [src]="boardgame.image" class="header-image">
                <mat-card-title>{{boardgame.name}}</mat-card-title>
                <mat-card-subtitle>{{boardgame.yearPublished}}</mat-card-subtitle>
              </mat-card-header>
                  <img mat-card-image class="big-image" [src]="boardgame.image" alt="Photo of Board Game">
              
              <mat-card-content>
                <p style="text-align:justify">
                  {{boardgame.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
  
      </mat-grid-tile>
      
      <mat-grid-tile [style.background]="'lightpink'">
        <app-comments [id]="boardgame.id"></app-comments>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <ng-container *ngIf="boardgame">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar [src]="boardgame.image" class="header-image">
        <mat-card-title>{{boardgame.name}}</mat-card-title>
        <mat-card-subtitle>{{boardgame.yearPublished}}</mat-card-subtitle>
      </mat-card-header>
          <img mat-card-image class="big-image" [src]="boardgame.image" alt="Photo of Board Game">
      
      <mat-card-content>
        <p style="text-align:justify">
          {{boardgame.description}}
        </p>
        <mat-chip-list>
            <mat-chip >{{'Rank '+ boardgame.boardgameRank}}</mat-chip>    
            <mat-chip >{{'Ratings '+ boardgame.usersRated}}</mat-chip>
            <mat-chip >{{'Bayes '+ boardgame.bayesAvg.toFixed(2)}}</mat-chip>

        </mat-chip-list>


      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="navigateToSite()">WEBSITE</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </ng-container>
