<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar [color]=" 'accent' ">
   <button mat-fab [routerLink]="''">
      <mat-icon>home</mat-icon>
   </button>
   <span>Board Games Room</span>
</mat-toolbar>

<!-- <div class="wrap">
    <div class="search">
       <input [(ngModel)] = "searchInput" (keydown)="checkIfEnterPressed($event)" type="text" class="searchTerm" placeholder="Category or Name..." onfocus="this.placeholder = ''"
       onblur="this.placeholder = 'Category or Name...'" >
       <button (click)="submitSearch()" type="submit" class="searchButton">
          <i class="fa fa-search"></i>
      </button>
    </div>
 </div> -->

<!-- <input #searchinput (keydown)="checkIfEnterPressed($event)" type="text" class="searchTerm" placeholder="Category or Name..." onfocus="this.placeholder = ''"
       onblur="this.placeholder = 'Category or Name...'" >
       <button (click)="submitSearch(searchinput.value)" type="submit" class="searchButton">
          <i class="fa fa-search"></i>
      </button> -->

<router-outlet></router-outlet>